.app{
  height: 100vh;

  .sections{
    width: 100%;
    height: calc(100% - 70px);
    background-color: lightpink;
    position: relative;
    top: 70px;

    > *{
      width: 100vw;
      height: calc(100% - 70px);
    }
  }
}